.big-btn {
  width: 100%;
  @include btn;
  @include big-btn;
}

.mt-btn {
  margin-top: 20px;
}

.small-btn {
  @include btn;
  @include big-btn;
  padding: 0.2rem 10%;
}

.warning-btn {
  color: $warning-color;
  // color:white;
}

.add {
  &::after {
    content: "+";
    font-size: 1.5rem;
  }
}

.back {
  &::after {
    content: "←";
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.principal-btn {
  background: $highlight-color;
  color: $secondary-color;
}

.form-group {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;

  .form-input {
    font-size: 1rem;
    padding: 0.7rem 0.5rem;
    border: none;
    outline: none;
    flex: 1;
    border-radius: 5px;
    background: $secondary-color;
  }

  label {
    font-size: 1rem;
    white-space: nowrap;
  }
}

.appear-animate {
  @include size(100%);
  opacity: 0;
  transition: opacity $appear-animation-time ease;

  &.show {
    opacity: 1;
  }
}

.scroll-table {
  @include scroll-table;
}

.app-header {
  @include app-header;
}

.submit-container {
  @include submit-container;
}

.edit-modal-container {
  @include edit-modal-container;
}

.list-complete-item {
  transition: all 0.5s;
}
.list-complete-enter,
.list-complete-leave-to {
  opacity: 0;
  transform: translate(0, -15px);
}
.list-complete-leave-active {
  position: absolute;
}

.slide-enter-to {
  transition: all 0.6s ease;
  transform: translateY(0);
}

.slide-leave-active {
  transition: all 0.6s ease;
  transform: translateY(-100%);
}

.slide-enter {
  opacity: 0;
  transform: translateY(100%);
}

.slide-leave {
  opacity: 1;
  transform: translateY(0);
}
