.el-message-box {
  width: 80%;
  max-width: 350px;
}

.toolbar {
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back {
  &::after {
    content: "←";
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.appear-animate {
  @include size(100%);
  opacity: 0;
  transition: opacity $appear-animation-time ease;

  &.show {
    opacity: 1;
  }
}

.app-header {
  @include app-header;
}

.app-content {
  @include size(100%);
}

.table-content {
  @include size(100%);
  @include flex-column;
}

.table {
  width: 100%;
  margin: 2% auto;
  border-radius: 5px;
}

.el-table .warning-row {
  background: oldlace;
}

.el-button--mini {
  padding: 7px 10px;
}

.el-form-item label {
  font-size: 0.8rem;
}

.el-dialog {
  max-width: 450px;
}

.el-select {
  width: 100%;
}

.el-form-item {
  margin-bottom: 15px;
  label {
    text-align: center;
  }
}

.el-input-number,
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: auto;
}
.el-input-number--mini{
  width: 130px;
}
// .el-input__inner{
//   background:transparent;
//   border: none;
//   border-bottom: 1px solid #dcdfe6;
//   border-bottom-left-radius: 0;
//   border-bottom-right-radius: 0;
// }

.el-select .el-input.is-focus .el-input__inner{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


.el-input__icon {
  display: none;
}

.el-input--prefix .el-input__inner {
  padding: 0 15px;
}

.el-card__header{
  padding: 9px 10px;
}

.el-card__body{
  padding: 12px;
}