@mixin flex {
  display: flex;
}

@mixin flex-column {
  @include flex;
  flex-direction: column;
}

@mixin sub-center {
  @include flex;
  align-items: center;
  justify-content: center;
}

@mixin center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin po-abs {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin padding {
  @include padding-x;
  @include padding-y;
}

@mixin padding-x($padding: $app-padding) {
  padding-left: $padding;
  padding-right: $padding;
}
@mixin padding-y($padding: $app-padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin size($width, $height: false) {
  width: $width;
  @if $height {
    height: $height;
  } @else {
    height: $width;
  }
}

@mixin nav {
  @include flex;
  justify-content: space-around;
  align-items: center;
  .nav-item a {
    color: $secondary-font-color;
    &.router-link-active {
      color: $highlight-color;
    }
  }
}

@mixin center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin app-header {
  @include padding-x;
  @include size(100%, 50px);
  @include flex;
  align-items: center;
  justify-content: space-between;
  background: #eeece8;
  border-bottom: 1px solid $line-color;
  .title {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

@mixin no-scrollbar {
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
}

@mixin product-info {
  flex: 1;
  margin: 0 auto;
  width: 95%;
  height: 25%;
  overflow: hidden;
  .info {
    @include size(100%);
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    div {
      width: 50%;
      @include flex;
      flex-wrap:wrap;
      align-items: center;
      p{
        text-align:center;
        width:100%;
        span{
          text-align: left;
        }
      }
    }
  }
}