//
$font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
$font-size: 16px;
// sizes
$nav-height: 45px;
$app-padding: 2%;
// colors

$global-font-color: #34495e;
$secondary-font-color: #95928d;

$principal-color: #edeef0;
$secondary-color: white;
$warning-color: #eb4040;
$highlight-color: #5dbbf6;
$line-color: #e0dccd;

// keyboard
$keyboard-color: #dad5cb;
$keyboard-key-color: #f3efe7;
$keyboard-key-font-color: #4b4840;

// times
$appear-animation-time: 0.5s;
